body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u920 {
  position:absolute;
  left:0px;
  top:659px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u922 {
  position:absolute;
  left:0px;
  top:659px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
  background:-webkit-linear-gradient(90deg, rgba(44, 45, 49, 1) 0%, rgba(44, 45, 49, 1) 0%, rgba(16, 16, 19, 1) 100%, rgba(16, 16, 19, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(44, 45, 49, 1) 0%, rgba(44, 45, 49, 1) 0%, rgba(16, 16, 19, 1) 100%, rgba(16, 16, 19, 1) 100%);
  background:linear-gradient(0deg, rgba(44, 45, 49, 1) 0%, rgba(44, 45, 49, 1) 0%, rgba(16, 16, 19, 1) 100%, rgba(16, 16, 19, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
}
#u925 {
  position:absolute;
  left:0px;
  top:56px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:10px;
}
#u927 {
  position:absolute;
  left:679px;
  top:79px;
  width:43px;
  height:10px;
}
#u928 {
  position:absolute;
  left:0px;
  top:-3px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u930 {
  position:absolute;
  left:49px;
  top:61px;
  width:64px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u932 {
  position:absolute;
  left:20px;
  top:66px;
  width:20px;
  height:35px;
}
#u933 {
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:37px;
  color:#FFFFFF;
}
#u934 {
  position:absolute;
  left:289px;
  top:58px;
  width:172px;
  height:52px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:37px;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u936 {
  position:absolute;
  left:134px;
  top:61px;
  width:64px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:left;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u940 {
  position:absolute;
  left:0px;
  top:12px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:691px;
  top:11px;
  width:45px;
  height:19px;
}
#u944 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:693px;
  top:13px;
  width:41px;
  height:15px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:7px;
}
#u947 {
  position:absolute;
  left:737px;
  top:17px;
  width:3px;
  height:7px;
}
#u948 {
  position:absolute;
  left:0px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFUIDisplay-Regular', 'SF UI Display';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u949 {
  position:absolute;
  left:602px;
  top:6px;
  width:80px;
  height:29px;
  font-family:'SFUIDisplay-Regular', 'SF UI Display';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u951 {
  position:absolute;
  left:174px;
  top:12px;
  width:24px;
  height:18px;
}
#u952 {
  position:absolute;
  left:0px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFUIDisplay-Medium', 'SF UI Display Medium', 'SF UI Display';
  font-weight:500;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:left;
}
#u953 {
  position:absolute;
  left:87px;
  top:7px;
  width:98px;
  height:28px;
  font-family:'SFUIDisplay-Medium', 'SF UI Display Medium', 'SF UI Display';
  font-weight:500;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
  text-align:left;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:11px;
}
#u955 {
  position:absolute;
  left:13px;
  top:15px;
  width:67px;
  height:11px;
}
#u956 {
  position:absolute;
  left:0px;
  top:-2px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFUIDisplay-Medium', 'SF UI Display Medium', 'SF UI Display';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:309px;
  top:6px;
  width:122px;
  height:29px;
  font-family:'SFUIDisplay-Medium', 'SF UI Display Medium', 'SF UI Display';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#1AAD19;
  text-align:center;
}
#u959 {
  position:absolute;
  left:132px;
  top:355px;
  width:487px;
  height:82px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#1AAD19;
  text-align:center;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u961 {
  position:absolute;
  left:63px;
  top:371px;
  width:50px;
  height:50px;
  color:#000000;
}
#u962 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:94px;
}
#u964 {
  position:absolute;
  left:35px;
  top:578px;
  width:670px;
  height:94px;
}
#u965 {
  position:absolute;
  left:0px;
  top:39px;
  width:670px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:218px;
  top:600px;
  width:305px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  text-align:center;
}
#u968 {
  position:absolute;
  left:254px;
  top:218px;
  width:235px;
  height:57px;
  font-size:48px;
  text-align:center;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
